#list-entry, 
#playlist-name  {
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;   
    margin-bottom: 0.5%;
    border-radius: 4px;
}

#list-entry {
    width: 98%; 
    border-color: rgb(49, 26, 17);
    background-color: rgb(52, 57, 61);
}

#playlist-name {
    align-items: flex-start;
    justify-content: center;
    color: rgb(248, 248, 248);
    width: 98%; 
    -unity-font-style: normal;
    -unity-text-align: middle-left;
}
